<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">
    <!-- Logging Properties -->
    <Properties>
        <!-- this sets the output style properties for the log messages -->
        <!--<Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property> -->
        <!-- %c{1.} abbraviates package name to sincle characters per segment -->
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] [%c{1.}] %-5level %logger{36} - %msg%n</Property>

    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

    </Appenders>
    <Loggers>

        <Logger name="org.opennms.tmforum" additivity="false" level="DEBUG">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="org.eclipse.jetty" additivity="false" level="INFO">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="org.eclipse.persistance" additivity="false" level="DEBUG">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- used to show request mappings in spring 5 -->
        <!--<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="TRACE" > -->
        <logger name="org.springframework.web.servlet.mvc" level="TRACE">
            <AppenderRef ref="Console" />
        </logger>

        <!-- log spring -->
        <Logger name="org.springframework" additivity="false" level="DEBUG">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- log swagger -->
        <Logger name="io.swagger" additivity="false" level="DEBUG">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- this logs to the Consol (System.out) -->
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>